@import "./reset.css";

//color변수
$logoColor: #e41d57;
$subTextColor: #a7a7a7;
$hoverBgColor: #f3f3f3;

//padding변수
$spanPadding: 10px 15px;

#container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 0px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .logo {
    width: 20%;
    color: $logoColor;
    font-size: 2rem;
    cursor: pointer;
  }
  //header 중앙
  .header_center {
    span {
      margin-right: 10px;
      color: $subTextColor;
      padding: $spanPadding;
      border-radius: 20px;
      &:hover {
        color: black;
        cursor: pointer;
        background-color: $hoverBgColor;
      }
    }
  }

  //header 오른쪽
  .header_right {
    display: flex;
    align-items: center;
    span {
      margin-right: 20px;
      padding: $spanPadding;
      border-radius: 15px;
      &:hover {
        color: black;
        cursor: pointer;
        background-color: $hoverBgColor;
      }
    }
    .myPage {
      cursor: pointer;
      width: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 8px 1px 8px 1px;
      border: 1px solid $subTextColor;
      border-radius: 30px;
      i:last-child {
        font-size: 1.8rem;
      }
    }
    .myPage:hover {
      background-color: $hoverBgColor;
    }
  }
}

//search section
.search {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 11px 0px 11px 40px;
    &:hover {
      background-color: $hoverBgColor;
      cursor: pointer;
      border-radius: 40px;
    }
    span {
      margin-bottom: 5px;
      &:first-child {
        font-size: 0.8rem;
      }
      &:last-child {
        color: $subTextColor;
        font-size: 0.9rem;
      }
    }
  }
  i {
    width: 10%;
    color: white;
    padding: 15px;
    background-color: $logoColor;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

.line {
  width: 100%;
  height: 2px;
  background-color: $hoverBgColor;
}

//trip type nav

.tripType {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    display: block;
  }
  .type_icons {
    display: flex;
    width: 90%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      padding-right: 50px;
      min-width: 50px;
      font-size: 0.8rem;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    img {
      width: 30px;
      margin-bottom: 10px;
    }
  }
}

// productLists

.productLists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  row-gap: 50px;
  column-gap: 20px;

  img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }
  span {
    display: block;
  }

  .product {
    position: relative;
    cursor: pointer;

    .product_picture {
      margin-bottom: 10px;
    }
    .likeMark {
      position: absolute;
      top: 20px;
      right: 10%;
    }
    .productPicture_nextBtn {
      position: absolute;
      top: 36%;
      right: 30px;
    }

    .product_info {
      justify-content: flex-start;
      text-align: left;
      padding: 0px 20px;
      line-height: 20px;
      .product_nation {
        display: flex;
        justify-content: space-between;
      }
      .product_view,
      .product_date {
        color: $subTextColor;
        font-size: 0.9rem;
      }
      .product_price {
        margin-top: 10px;
      }
    }
  }
}

//더보기

.add {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span:first-child {
    font-size: 1.2rem;
    padding: 20px 0px;
  }
  span:last-child {
    width: 80px;
    padding: 18px 10px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    color: white;
    cursor: pointer;
  }
}

//footer

footer {
  margin-top: 40px;
  height: 500px;
  background-color: #f7f7f7;
}

//모바일 반응형

@media screen and (max-width: 576px) {
  //해당 클래스 불러와서 모바일형일떈 이런식으로 바꿔주겠다 코드
}
