@import "./reset.css";

//color변수
$logoColor: #e41d57;
$subTextColor: #a7a7a7;
$hoverBgColor: #f3f3f3;

//padding변수
$spanPadding: 10px 15px;

#container {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .logo {
    width: 20%;
    color: $logoColor;
    font-size: 2rem;
    cursor: pointer;
  }
  //header 중앙
  .header_center {
    span {
      margin-right: 10px;
      color: $subTextColor;
      padding: $spanPadding;
      border-radius: 20px;
      &:hover {
        color: black;
        cursor: pointer;
        background-color: $hoverBgColor;
      }
    }
  }

  //header 오른쪽
  .header_right {
    display: flex;
    align-items: center;
    span {
      margin-right: 20px;
      padding: $spanPadding;
      border-radius: 15px;
      &:hover {
        color: black;
        cursor: pointer;
        background-color: $hoverBgColor;
      }
    }
    .myPage {
      width: 80px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 8px 1px 8px 1px;
      border: 1px solid $subTextColor;
      border-radius: 30px;

      i:last-child {
        font-size: 1.8rem;
      }
    }
    &:hover {
      background-color: tomato;
    }
  }
}

.search {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 8px 11px 40px;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  div {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 5px;
      &:first-child {
        font-size: 0.8rem;
      }
      &:last-child {
        color: $subTextColor;
        font-size: 0.9rem;
      }
    }
  }
  i {
    color: white;
    padding: 15px;
    background-color: $logoColor;
    border-radius: 50%;
  }

  .travelLocation {
    border-radius: 50px;
    &:hover {
      background-color: $hoverBgColor;
    }
  }
  .traveller {
    display: flex;
  }
}
